<div class="page-header">
  <h1><a href="/">Alquiler</a></h1>
  {% if messages %}

    {% for message in messages %}
     {% if message.tags %} alert{{ message }}{% endif %}
    {% endfor %}

  {% endif %}
</div>

{% block content %}
{% endblock %}


{% extends 'alquiler/base.html' %}

  {% block content %}
    <h1>Nuevo Alquiler</h1>
    <form class="post-form" method="POST"> {% csrf_token %}
      {{ formulario.as_p }}
      <button type="submit" class="save btn btn-default">Guardar</button>
    </form>
  {% endblock %}
